<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    {% load staticfiles %}

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/grayscale.css' %}" rel="stylesheet">
</head>
<body>
    <div class="container">
        <nav class="navbar-default navbar-fixed-top">
            <ul class="nav nav-pills navbar-center">
                <li id="home_button" role="presentation" class="active"><a href="#home">Home</a></li>
                <li id="about_button" role="presentation" onclick="myFunction(this)"><a href="#about">About</a></li>
                <li id="contact_button" role="presentation"><a href="#contact">Contact</a></li>
                <li id="blog_button" role="presentation"><a href="#blog">Blog</a></li>

            </ul>
        </nav>
        {% block body_block %}
        {% endblock %}
    </div>














<script src="{% static 'js/bootstrap.min.js' %} "></script>
<script src="{% static 'js/grayscale.js' %} "></script>
<script>
        function myFunction(button) {
        button.addClass('active');
    }
</script>
</body>
</html>