<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    {% load staticfiles %}

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/grayscale.css' %}" rel="stylesheet">
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <button type="button" class="btn btn-default navbar-btn">Home</button>
                <button type="button" class="btn btn-default navbar-btn">About</button>
                <button type="button" class="btn btn-default navbar-btn">Email</button>
                <button type="button" class="btn btn-default navbar-btn">Blog</button>
            </div>
        </nav>
        {% block body_block %}
        {% endblock %}
    </div>














<script src="{% static 'js/bootstrap.min.js' %} "></script>
<script src="{% static 'js/grayscale.js' %} "></script>
</body>
</html>