{% extends "base.html" %}
{% load staticfiles %}

{% block body_block %}
    <div class="jumbotron" id="banner">
        <h1>Web Development</h1>
        <p>By Matt Borgman</p>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <p>I got into web development about a year ago. I started teaching myself
            with coding books and websites like Treehouse.com </p>
        </div>
        <div class="col-sm-4">
            <p>This is my first launched website, I will be putting projects up on here
            and keeping the content up to date as to projects im working on</p>
        </div>
        <div class="col-sm-4">
            <p>Currently i'm attending PDX Code Guild, they are a bootcamp
            here in Portland,OR. I'm learning Django and am currently working on a web app
            to help people find where the specific beer they want to drink is on tap tonight</p>
        </div>

    </div>



{% endblock %}