ul li {
	display: inline-block;
}

ul li a {
	padding: 20px;
}

a {
	text-decoration: none;
	color: white;
}

a:hover {
	font-weight: bold;
	text-decoration: underline;
}

button {
	padding: 20px;
	margin: -4px;
}

button a {
	color: black;
}

button.selected {
	background-color: yellow;
	font-weight: bold;

}

body {
	background-color: #66CCFF;
	color: yellow;
	font-family: sans-serif;
}

h1 {
	font-size: 72px;
	color: white;
}

th {
	text-align: left;
}

td {
	color: white;
}

input {
	margin-top: 10px;
}

select {
	margin-top: 10px;
}

textarea {
	width: 300px;
	height: 50px;
}

#review_border, #details_border {
	width: 30%;
	border-color: black;
	color: white;
	font-weight: bold;
	font: sans-serif;
}

#submit {
	border-radius: 25px;
	background-color: blue;
	color: white;
}

#matt_img {
	width: 500px;
	height: 400px;
	float: right;
	-webkit-transform:rotate(90deg);
}