{% extends 'base.html' %}

{% block body_block %}
<script>


    var userList = {{ user_list | safe }};



    function checkUserName(){
        var username = document.getElementById('username');
        var usernameValue = username.value;
        for(var i = 0; i < userList.length; i++){
            if(usernameValue == userList[i]){
                console.log('error');
            }
        }
    }

</script>

<form method="post" action="">
    {% csrf_token %}
    <input type="text" name="username" id="username" placeholder="username" onblur="checkUserName()">
    <input type="text" name="email" id="email" placeholder="email">
    <input type="password" name="password" id="password" placeholder="password">
    <input type="password" name="verify_password" id="verify_password" placeholder="verify">
    <input type="submit" value="Register" name="submit">
</form>



{% endblock %}
